/* latin */
@font-face {
  font-family: 'Yatra One';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('Yatra One Regular'), local('YatraOne-Regular'), url(https://fonts.gstatic.com/s/yatraone/v6/C8ch4copsHzj8p7NaF0BxFmATxP_Xg.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

body{
  font-family: Yatra One;
  text-align: center;
  background-image: url("Images/Fields.jpeg");
  background-size: cover;
}

.header{
  background-color: rgba(18, 78, 13, 0.8);
  padding: 15px;
}

.custom .leaflet-popup-tip,
.custom .leaflet-popup-content-wrapper {
    background: rgba(18, 78, 13, 0.8);
    color: black;
    font-family: Yatra One;
    font-size: 15px;
}

#credit{
  text-align: left;
}
#mapid {
 margin: auto;
 height: 400px;
 width: 1000px;
}

#lifemap {
 margin:auto;
 height:500px;
 width: auto;
 margin-top: 40px;
}
